<header class="inner scrollDown">
          <a href="https://www.systango.com/" class="logo">
            <img src="https://www.systango.com/img/logo-dark.png" class="logo-dark" alt="systango" title="systango">
            <img src="https://www.systango.com/img/logo-color.png" class="logo-color" alt="systango" title="systango">
            <img src="https://www.systango.com/img/logo.png" class="logo-white" alt="systango" title="systango">
          </a>

          <a href="" id="menu-toggle" class="menu mobile-menu-toggle">
              <div class="text-uppercase">Menu</div>
              <span></span>
              <span></span>
          </a>

          <!-- // Desktop Menu -->
          <div class="desktop-menu">
            <nav class="desktop-menu__nav">
              <ul class="desktop-menu__list">
                <li class="desktop-menu__list-item">
                  <a href="https://www.systango.com/about-us" data-nav-link="about-us" class="desktop-menu__list-item-link" data-menu-name="Aboutus">About Us</a>
                </li>
                <!-- <li class="desktop-menu__list-item">
                  <a href="<//?php echo  $base_url; ?>our-services" data-nav-link="our-services" class="desktop-menu__list-item-link" data-menu-name="Services">What We Do</a>
                </li> <i class="menu-icon fas fa-angle-down"></i>-->
                <!-- <li class="menu-item desktop-menu__list-item"><a href="https://www.systango.com/our-services" class="desktop-menu__list-item-link">What We Do 
                  <i class="svg-menu">
                    <svg width="18" height="10" viewBox="0 0 9 5" fill="" xmlns="https://www.w3.org/2000/svg">
                      <path d="M4.9085 4.64022L8.32636 1.21451C8.43828 1.10228 8.43809 0.920558 8.32578 0.808507C8.21349 0.696543 8.03158 0.696832 7.91958 0.809086L4.70514 4.03088L1.49072 0.808969C1.3787 0.69673 1.19691 0.696441 1.0846 0.808391C1.02831 0.864561 1.00016 0.938148 1.00016 1.01173C1.00016 1.08513 1.02812 1.15843 1.08402 1.2145L4.5018 4.64022C4.55561 4.69427 4.62884 4.72461 4.70514 4.72461C4.78144 4.72461 4.85459 4.69419 4.9085 4.64022Z" fill="" stroke="" stroke-width="0.5"></path>
                    </svg>
                  </i> -->
                </a>
                  <ul class="submenu">
                    <li class="submenu-item">
                      <ul class="row">
                        <!-- -->
                        <li class="col-md-12"> 
                          <ul class="listWithIcon row">
                            <!-- Mobile App Development -->
                            <li class="col-md-12">
                              <ul class="row">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/services/mobile-app-development">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/mobile-app.svg" alt="Mobile App Development"></span>
                                    Mobile App Development
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row inner-sublist">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/ios-app-development">
                                        iOS App Development 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/android-app-development">
                                        Android App Development 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/cross-platform-app-development">
                                        Cross-Platform App Development
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/react-native-app-development">
                                        React Native App Development  
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/cross-platform-app-development">
                                        Flutter App Development 
                                      </a>
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- WEB Development -->
                            <li class="col-md-12">
                              <ul class="row">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/services/web-development">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/web-app.svg" alt="Web Development"></span>
                                    Web Development
                                  </a>
                                </li>
                                <li class="col-md-9">
                                  <ul class="row inner-sublist">
                                    <li class="col-md-6">
                                      <a href="https://www.systango.com/services/front-end-development">
                                        Front end Development
                                      </a>
                                      <ul class="row">

                                        <li class="col-md-6">
                                          <a href="https://www.systango.com/services/front-end-development">
                                            JavaScript
                                          </a>
                                        </li>

                                        <li class="col-md-6">
                                          <a href="https://www.systango.com/services/front-end-development">
                                            HTML/CSS
                                          </a>
                                        </li>
                                        
                                        <!-- <li class="col-md-6">
                                          
                                        </li> -->

                                         <li class="col-md-6">
                                          <a href="https://www.systango.com/services/front-end-development">
                                            React JS
                                          </a>
                                        </li>

                                        <li class="col-md-6">
                                          <a href="https://www.systango.com/services/front-end-development">
                                            AngularJS
                                          </a>
                                        </li>
                                      </ul>
                                    </li>

                                    <li class="col-md-6">
                                      <a href="https://www.systango.com/services/backend-development">Backend Development</a>
                                      <ul class="row">
                                        <li class="col-md-4">
                                          <a href="https://www.systango.com/services/backend-development">
                                            Python
                                          </a>
                                        </li>

                                        <li class="col-md-4">
                                          <a href="https://www.systango.com/services/backend-development">
                                            Node
                                          </a>
                                        </li>

                                        <li class="col-md-4">
                                          <a href="https://www.systango.com/services/backend-development">
                                            ROR
                                          </a>
                                        </li>

                                        <li class="col-md-4">
                                          <a href="https://www.systango.com/services/backend-development">
                                            PHP
                                          </a>
                                        </li>

                                        <li class="col-md-4">
                                          <a href="https://www.systango.com/services/backend-development">
                                            Java
                                          </a>
                                        </li>
                                        
                                        <li class="col-md-4">
                                          <a href="https://www.systango.com/services/dot-net-development">
                                            .Net
                                          </a>
                                        </li>
                                      </ul>
                                    </li>

                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- Zoho Offerings -->
                            <li class="col-md-12">
                              <ul class="row">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/zoho-offerings">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/zoho.svg" alt="Zoho Offerings"></span>
                                    Zoho Offerings
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row inner-sublist">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/zoho-analytics">
                                        Zoho Analytics
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/zoho-offerings">
                                        Zoho Integrations 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/zoho-offerings">
                                        Zoho Creator/Zoho CRM
                                      </a>
                                    </li>

                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- Digital Marketing -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/services/digital-marketing">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/digital-marketing.svg" alt="Digital Marketing"></span>
                                    Digital Marketing
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/digital-marketing">
                                        Search Engine Optimisation 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/digital-marketing">
                                        Pay Per Click Campaigns 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/digital-marketing">
                                        Social Media Management
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/digital-marketing">
                                        Mobile Advertising  
                                      </a>
                                    </li>

                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- DevOps -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/services/devops">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/devops.svg" alt="DevOps"></span>
                                    DevOps
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/cloud-computing">
                                        Cloud Computing 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/devops">
                                        Security Engineering 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/devops">
                                        Cloud Consultation and Expertise
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/devops">
                                        CI/CD Pipeline  
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/devops">
                                        Process Automation 
                                      </a> 
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/devops">
                                        Operational Management Release  
                                      </a>
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- Data Engineering -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/services/data-engineering">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/data-science.svg" alt="Data Engineering"></span>
                                    Data Engineering
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/data-engineering">
                                        Data Wrangling &amp; ETL 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/data-engineering">
                                        Visualization
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/data-engineering">
                                        Statistical Modeling
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/data-engineering">
                                        Predictive Modeling 
                                      </a> 
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/data-engineering">
                                        Machine Learning &amp; Neural Networks  
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/data-engineering">
                                        Natural Language Processing  
                                      </a>
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- Innovation -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/our-services#nextGeneration">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/innovation.svg" alt="Innovation"></span>
                                    Innovation
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/our-services#nextGeneration">
                                        AI 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/our-services#nextGeneration">
                                        AR
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/our-services#nextGeneration">
                                        Big Data
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/services/blockchain-development">
                                        Blockchain 
                                      </a> 
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/our-services#nextGeneration">
                                        RPA  
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/our-services#nextGeneration">
                                        ML  
                                      </a>
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- QA -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <a href="https://www.systango.com/services/quality-assurance-consultancy">
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/qa.svg" alt="QA"></span>
                                    QA
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row">
                                    <li class="col-md-4">
                                      <a>
                                        Manual 
                                      </a>
                                    </li>

                                    <li class="col-md-4">
                                      <a>
                                        Automation
                                      </a> 
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- Our Products Page -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <a>
                                    <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/our-product.svg" alt="Our Products"></span>
                                    Our Products
                                  </a>
                                </li>

                                <li class="col-md-9">
                                  <ul class="row">
                                    <li class="col-md-4">
                                      <a href="https://www.systango.com/swotter-learning-management-system-software">
                                        Swotter LMS Software 
                                      </a>
                                    </li>
                                    
                                    <li class="col-md-4">
                                      <a href="https://shootih.com/">
                                        Shootih 
                                      </a>
                                    </li>

                                    <!-- <li class="col-md-4">
                                      <a>
                                        Automation
                                      </a> 
                                    </li> -->
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!-- Last Line -->
                            <li class="col-md-12">
                              <ul class="row inner-sublist">
                                <li class="col-md-3 iconText">
                                  <span class="menuIcon"></span>
                                      
                                </li>

                                <li class="col-md-9">
                                  <ul class="row ">
                                    <li class="col-md-4 iconText">
                                      <a>
                                        <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/consulting.svg" alt="Consulting Services"></span>
                                        Consulting Services 
                                      </a>
                                    </li>

                                    <li class="col-md-4 iconText">
                                      <a href="https://www.systango.com/services/staff-augmentation">
                                        <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/staff.svg" alt="Staff Augmentation"></span>
                                        Staff Augmentation  
                                      </a>
                                    </li>

                                    <li class="col-md-4 iconText">
                                      <a>
                                        <span class="menuIcon"><img src="https://www.systango.com/img/mega-menu/support.svg" alt="Support and Maintenance Desk"></span>
                                        Support and Maintenance Desk 
                                      </a>
                                    </li>
                                  </ul>
                                </li>

                              </ul>
                            </li>
                            <!--  -->
                          </ul>
                        </li>
                        <!-- Second Line -->
                      </ul>
                      <!-- End .submenu-top -->
                    </li>
                    <!-- End .submenu-item -->

                  </ul>
                </li>
                <!-- Mega menu end -->
                <li class="desktop-menu__list-item">
                  <a href="https://www.systango.com/portfolio" data-nav-link="portfolio" class="desktop-menu__list-item-link" data-menu-name="Our Work">Our Work</a>
                </li>
                <li class="desktop-menu__list-item">
                  <a href="https://www.systango.com/contact" data-nav-link="contact" class="desktop-menu__list-item-link" data-menu-name="Talk To Us">Talk To Us</a>
                </li>
                <li class="desktop-menu__list-item selected">
                  <a href="https://www.systango.com/careers" data-nav-link="careers" class="desktop-menu__list-item-link" data-menu-name="Jobs">Careers</a>
                </li>
               <!--  <li class="desktop-menu__list-item">
                  <a href="https://www.systango.com/blog/" data-nav-link="blog" class="desktop-menu__list-item-link" data-menu-name="Blog">Blog</a>
                </li> -->
              </ul>
            </nav>
          </div>
          <!-- Desktop Menu // -->

          <div class="slidenav mobile-menu">
            <div class="cover-box">
              <div class="nav-img">
                <img loading="lazy" src="https://www.systango.com/img/systango-menu.jpg" alt="Systango - Primary Navigation - Your Specialised Software Studio by Systango" title="">
            
              </div>
              <nav class="navlinks-wrap">
                  <ul class="navlinks">
                      <li>
                          <div class="link-mask-wrap">
                              <a class="link" data-nav-link="careers" href="https://www.systango.com/about-us">
                                  <div class="link-mask"><span>About Us<i>.</i></span></div>
                                  About Us
                              </a>
                          </div>
                      </li>
                      <!-- <li>
                          <div class="link-mask-wrap">
                              <a class="link" data-nav-link="our-services" href="https://www.systango.com/our-services">
                                  <div class="link-mask"><span>What We Do<i>.</i></span></div>
                                  What We Do.
                              </a>
                          </div>
                      </li> -->
                      <li class="menu-item link-mask-wrap">
                        <a class="link open_megaMenu">What We Do. 
                          <i class="svg-menu">
                            <svg width="18" height="10" viewBox="0 0 9 5" fill="" xmlns="https://www.w3.org/2000/svg">
                              <path d="M4.9085 4.64022L8.32636 1.21451C8.43828 1.10228 8.43809 0.920558 8.32578 0.808507C8.21349 0.696543 8.03158 0.696832 7.91958 0.809086L4.70514 4.03088L1.49072 0.808969C1.3787 0.69673 1.19691 0.696441 1.0846 0.808391C1.02831 0.864561 1.00016 0.938148 1.00016 1.01173C1.00016 1.08513 1.02812 1.15843 1.08402 1.2145L4.5018 4.64022C4.55561 4.69427 4.62884 4.72461 4.70514 4.72461C4.78144 4.72461 4.85459 4.69419 4.9085 4.64022Z" fill="" stroke="" stroke-width="0.5"></path>
                            </svg>
                          </i>
                        </a>
                      </li>
                      <li>
                          <div class="link-mask-wrap">
                              <a class="link" data-nav-link="portfolio" href="https://www.systango.com/portfolio">
                                  <div class="link-mask"><span>Our Work<i>.</i></span></div>
                                  Our Work.
                              </a>
                          </div>
                      </li>
                      <li>
                          <div class="link-mask-wrap">
                              <a class="link" data-nav-link="contact" href="https://www.systango.com/contact">
                                  <div class="link-mask"><span>Talk To Us<i>.</i></span></div>
                                  Talk To Us.
                              </a>
                          </div>
                      </li>
                      <li>
                          <div class="link-mask-wrap">
                              <a class="link" data-nav-link="careers" href="https://www.systango.com/careers">
                                  <div class="link-mask"><span>Careers<i>.</i></span></div>
                                  Careers.
                              </a>
                          </div>
                      </li>
                      <li>
                          <div class="link-mask-wrap">
                              <a class="link" data-nav-link="blog" href="https://www.systango.com/blog/">
                                  <div class="link-mask"><span>Blog<i>.</i></span></div>
                                  Blog.
                              </a>
                          </div>
                      </li>
                </ul>
              </nav>
            </div>
          </div>
      </header>